<div class="row ">
	<div class="large-18 columns maincontainer">
		<div class="row main">
			<div class="row">
				<div class="large-12 columns skybg content row1">
			      <h3 class="white padding3v margin0tb"><span class="weight100 font14 opacity09">Welcome to mission control</span><br><%= current_user.businessname %></h3>
				</div>
				<div class="large-12 columns lightbluebg content row1">
				</div>
			</div>




			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</div>
  <div class="large-6 columns rightbar content">
    <div class="navheight"></div>
      <h4 class="sidetitle">Latest visitors</h4>
      <% @latest.each do |human| %>
	      <div class="row padding04v lastvisitorscontainer">
	      	<%= link_to humans_path(human) do %>
		        <div class="large-4 columns">
							<% case human.provider %>
								<% when "facebook" %>
									<img class="imgcircle" src="https://graph.facebook.com/<%= human.uid %>/picture?width=50&height=50">
								<% when "twitter" %>
									<img class="imgcircle" src="<%= human.picture %>">
							<% end %>
		        </div>
		        <div class="large-20 columns">
		          <p class="latestvisitorstext"><span class="weight600"><%= human.fullname %></span>  <span class="weight400 latestvisitorstime"><%= time_ago_in_words(human.human_logins.last.created_at) %> ago</span></p>
		        </div>
	        <% end %>
	      </div>
      <% end %>
    </div>
	</div>
</div>


<script>
	$('.row1').matchHeight();
</script>