<div class="row ">
	<div class="large-18 columns maincontainer">
		<div class="row main">
			<div class="row">
				<table>
				  <thead>
				    <tr>
				      <th width="280">
				      	<% if (params[:filter] == 'name') && (params[:order] == 'asc') %>
					      	<%= link_to leaderboard_filter_path('name', 'desc') do %>
						      	<div class="selected">Name<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% elsif (params[:filter] == 'name') && (params[:order] == 'desc') %>
					      	<%= link_to leaderboard_filter_path('name', 'asc') do %>
						      	<div class="selected">Name<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% else %>
					      	<%= link_to leaderboard_filter_path('name', 'asc') do %>
						      	<div>Name<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% end %>
				      </th>
				      <th>
				      	<% if (params[:filter] == 'email') && (params[:order] == 'asc') %>
					      	<%= link_to leaderboard_filter_path('email', 'desc') do %>
						      	<div class="selected">Email<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% elsif (params[:filter] == 'email') && (params[:order] == 'desc') %>
					      	<%= link_to leaderboard_filter_path('email', 'asc') do %>
						      	<div class="selected">Email<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% else %>
					      	<%= link_to leaderboard_filter_path('email', 'asc') do %>
						      	<div>Email<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% end %>
				      </th>
				      <th width="140">
				      	<% if (params[:filter] == 'visits') && (params[:order] == 'asc') %>
					      	<%= link_to leaderboard_filter_path('visits', 'desc') do %>
						      	<div class="selected">Visits<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% elsif (params[:filter] == 'visits') && (params[:order] == 'desc') %>
					      	<%= link_to leaderboard_filter_path('visits', 'asc') do %>
						      	<div class="selected">Visits<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% else %>
					      	<%= link_to leaderboard_filter_path('visits', 'asc') do %>
						      	<div>Visits<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% end %>
				      </th>
				      <th width="140">
				      	<% if (params[:filter] == 'firstvisit') && (params[:order] == 'asc') %>
					      	<%= link_to leaderboard_filter_path('firstvisit', 'desc') do %>
						      	<div class="selected">First Visit<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% elsif (params[:filter] == 'firstvisit') && (params[:order] == 'desc') %>
					      	<%= link_to leaderboard_filter_path('firstvisit', 'asc') do %>
						      	<div class="selected">First Visit<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% else %>
					      	<%= link_to leaderboard_filter_path('firstvisit', 'asc') do %>
						      	<div>First Visit<%= image_tag('arrows.png', class: "tablearrows") %></div>
					      	<% end %>
				      	<% end %>
				      </th>
				      <th width="130" class="tablereset">Profile</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<% @human.each do |human| %>
					    <tr>
					    	<td class="text-left namepadding">
									<% case human.provider %>
										<% when "facebook" %>
											<img class="imgcircle" src="https://graph.facebook.com/<%= human.uid %>/picture?width=50&height=50">
										<% when "twitter", "linkedin" %>
											<img class="imgcircle" src="<%= human.picture %>">
									<% end %>
					      	<span class="name"><%= human.fullname %></span>
					      </td>
					      <td>
					      	<% if human.provider == 'twitter' %>
						      	N/A
					      	<% else %>
						      	<%= human.email %>
					      	<% end %>
					      </td>
					      <td><%= human.human_logins.count %></td>
					      <td><%= human.created_at.strftime("%d-%m-%Y") %></td>
					      <td class="tablereset"><%= link_to humans_path(human) do %><%= image_tag('profilelink.png', class: "profilelink") %><% end %></td>
					    </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>




			
		</div>
	</div>
  <div class="large-6 columns rightbar content">
    <div class="navheight"></div>
      <h4 class="sidetitle">Latest visitors</h4>
      <% @latest.each do |human| %>
	      <div class="row padding04v lastvisitorscontainer">
	      	<%= link_to humans_path(human) do %>
		        <div class="large-4 columns">
							<% case human.provider %>
								<% when "facebook" %>
									<img class="imgcircle" src="https://graph.facebook.com/<%= human.uid %>/picture?width=50&height=50">
								<% when "twitter", "linkedin" %>
									<img class="imgcircle" src="<%= human.picture %>">
							<% end %>
		        </div>
		        <div class="large-20 columns">
		          <p class="latestvisitorstext"><span class="weight600"><%= human.fullname %></span>  <span class="weight400 latestvisitorstime"><%= time_ago_in_words(human.human_logins.last.created_at) %> ago</span></p>
		        </div>
	        <% end %>
	      </div>
      <% end %>
    </div>
	</div>
</div>


<script>
	$('.row1').matchHeight();
</script>