<div class="mainbg">
<div class="homegradient">
  <div class="row nopadding">
    <div class="large-16 columns content3">
      <div class="maincontainer">
        <h1 class="maintitle">a <span class="weight600">360°</span> degree view of your customers activity</h1>
        <div class="row nopadding padding2t">
          <div class="large-7 columns text-center">
            <%= link_to fronts_howitworks_path do %><div class="mainhowitworks butt">LOGIN</div><% end %>
          </div>
          <div class="large-2 columns">
            <br>
          </div>
          <div class="large-7 columns text-center">
            <a href=""><div class="maingetstarted butt">GET STARTED</div></a>
          </div>
          <div class="large-8 columns">
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="large-8 columns text-left content">
      <div class="mobilewrap">
        <%= video_tag("maskfill.webm", autobuffer: true, loop: true, autoplay: true, class: "maskfill") %>
        <%= image_tag('mobilemask.png', class: "mobilemask") %>
      </div>
    </div>
  </div>
  <div class="row padding3v">
    <h5 class="text-center quotetext padding1v">"The future of small business marketing. Period."</h5>
      <div class="large-6 columns media1">
      </div>
    <div class="large-6 columns media2">
    </div>
    <div class="large-6 columns media3">
    </div>
    <div class="large-6 columns media4">
    </div>
  </div>
</div>
</div>

<div class="whitebg">
  <div class="profilepreviewbg" id="block1">
    <div class="row padding17t5b-vh">
      <div class="row padding4b">
        <div class="large-4 columns">
          <br>
        </div>
        <div class="large-16 columns text-center">
          <h2 class="font2 weight600">The social network of your business</h2>
          <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WiFi. View trends in visits, keep track of certain customers and collect valuable data that can be used in powerful marketing campaigns.</p>
        </div>
        <div class="large-4 columns">
          <br>
        </div>
      </div>
      <div class="row padding3v nopadding">
        <div class="large-8 columns">
          <div class="margin3b">
            <p class="weight600 margin05b"><%= image_tag("hicon-1.png", class: "hicon") %>Get to know your customers</p>
            <p class="pointstext margin0t">Identify customers using their profile pictures and get to know them with data attributes such as age, location and gender.</p>
          </div>
          <div class="margin3b">
            <p class="weight600 margin05b"><%= image_tag("hicon-3.png", class: "hicon") %>Automatic profiling</p>
            <p class="pointstext margin0t">It's completely automated, meaning you don't need to pay attention to it until you make use of our powerful features.</p>
          </div>
          <div class="">
            <p class="weight600 margin05b"><%= image_tag("hicon-2.png", class: "hicon") %>Track everything</p>
            <p class="pointstext margin0t">Customers visits are mapped out using visual graphs that let you identify trends and know your customers schedule.</p>
          </div>
        </div>
        <div class="large-16 columns">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="schedulebg" id="block2">
  <div class="scheduleoverlay">
    <div class="row padding20t5b-vh">
      <h2 class="font19 white text-center padding5b">Acknowledge new customers by automatically sending out an email inviting them back in a timeframe that you set with a message that you write.</h2>
      <div class="row padding5v nopadding">
        <div class="large-8 columns">
          <div class="margin3b">
            <p class="weight600 margin05b white"><%= image_tag("hicon-4.png", class: "hicon") %>Complete automisation</p>                        
            <p class="pointstext margin0t offwhite">Set triggers such as days since last visit and days since first visit to automatically send out emails.</p>
          </div>
          <div class="margin3b">
            <p class="weight600 margin05b white"><%= image_tag("hicon-5.png", class: "hicon") %>Add a personal touch</p>                        
            <p class="pointstext margin0t offwhite">Use tags such as {*FULL_NAME*} to add customer profile attributes to your marketing emails. </p>
          </div>
          <div class="">
            <p class="weight600 margin05b white"><%= image_tag("hicon-6.png", class: "hicon") %>Branded design</p>
            <p class="pointstext margin0t offwhite">Add your logo and colours to customise the look of your emails, creating a strong brand impression.</p>
          </div>
        </div>
        <div class="large-16 columns">
        </div>
      </div>
    </div>
  <div class="emailblock2">
    <div class="clock">
      <div class="top"></div>
      <div class="right"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="center"></div>
      <div class="hour"></div>
      <div class="minute"></div>
    </div>
    <div class="eb3-grab">
      <div class="eb-header2">
        <%= image_tag('eb-logo.png', class: "eb-logo2") %>
      </div>
      <div class="eb-container">
        <h1 class="eb-h1">
          Thanks for visiting Joan
        </h1>
        <h2 class="eb-h2">
          How about a drink on us?
        </h2>
        <p class="eb-p">It's been some time since you last visited our restaurant over in Cranbrook. It'd be great to have you visit again, so come in store and make a waiter aware of the discount code <b>DRINK15</b> and we'll give you a drink of choice on the house!<br><br>Looking forward to seeing you soon,<br><b>The Pig &amp; Apple Team</b></p>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="greybgborder greybg" id="block3">
  <div class="emailblock3">
    <p class="eb3-header">Email Blast</p>
    <div class="eb3-subject">Enter your subject..</div>
    <div class="row wysihtml5-toolbar" id="wysihtml5-toolbar">
      <a data-wysihtml5-command="bold">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-bold.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="italic">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-italic.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="underline">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-underline.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="formatInline" data-wysihtml5-command-value="span">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-inline.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="justifyCenter">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-center.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="justifyLeft">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-left.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="justifyRight">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-right.png') %>
        </div>
      </a>
      <a data-wysihtml5-command="link">
        <div class="large-2 columns text-center content">
          <%= image_tag('format-link.png', class: "link") %>
        </div>
      </a>
    </div>
    <div class="eb3-container">
      <h1 class="eb-h1">
        <span class="writer"></span>
      </h1>
      <p class="eb3-p">It's been some time since you last visited our restaurant over in Cranbrook. It'd be great to have you visit again, so come in store and make a waiter aware of the discount code <b>DRINK15</b> and we'll give you a drink of choice on the house!<br><br>Looking forward to seeing you soon,<br><b>The Pig &amp; Apple Team</b></p>
    </div>
  </div>
  <div class="row padding20t5b-vh">
    <div class="large-24 columns text-center">
      <h2 class="font2 weight600 padding7b">Reach thousands of previous customers in one click<h2>
    </div>
    <div class="row nopadding">
      <div class="large-16 columns text-center">
      </div>
      <div class="large-8 columns text-left">
            <div class="margin3b">
              <p class="weight600 margin05b"><%= image_tag("hicon-7.png", class: "hicon") %>Promote your business</p>
              <p class="pointstext margin0t">Use email blasts as your most powerful marketing tool. Promote events, offers and anything else to thousands of previous customers. </p>
            </div>
            <div class="margin3b">
              <p class="weight600 margin05b"><%= image_tag("hicon-8.png", class: "hicon") %>Branded and personal</p>
              <p class="pointstext margin0t">Your emails are customised to match the look and feel of your brand and you can use customers profile attributes to add a personal touch to every email.</p>
            </div>
            <div class="margin3b">
              <p class="weight600 margin05b"><%= image_tag("hicon-9.png", class: "hicon") %>Reward customers</p>
              <p class="pointstext margin0t">Add filters to your email blasts to only send emails to certain customers. For example, easily send a discount out to your top 100 customers.</p>
            </div>
      </div>
    </div>
  </div>
</div>

<div class="whitebg" id="block4">
  <div class="row padding15v-vh">
    <div class="large-24 columns text-center">
      <h2 class="font2 weight600">Customise your hotspot to match your brand</h2>
      <%= video_tag("customise-vid.webm", autobuffer: true, loop: true, class: "customise-vid") %>
    </div>
  </div>
</div>

<div class="missioncontrolbg">
  <div class="missioncontrolgradient">
    <div class="row padding15t5b-vh text-center">
      <h2 class="font25 weight400 white margin0b">Welcome to Mission Control</h2>
      <h5 class="font2 weight100 offwhite opensans font13">The eyes and ears of your hotspot</h5>
      <div class="mac-container">
        <%= link_to fronts_howitworks_path do %><div class="mcbutton butt">MISSION CONTROL</div><% end %>
        <%= image_tag 'missioncontrol.png' %>
      </div>
    </div>
  </div>
</div>

<div class="row padding20v-vh">
  <div class="large-12 columns">
    <h2 class="font2 weight600">Just plug in and power on</h2>
    <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WiFi. View trends in visits, keep track of certain customers and collect valuable data.</p>
    <p class="maintext margin1t">
      keep track of certain customers and collect.
    </p>
  </div>
</div>

<div class="bottom-cta">
  <div class="row padding20v-vh text-center">
    <h3 class="white font28 margin0b">WiFi is no longer an expense</h3>
    <h4 class="offwhite font15 margin0t">It's your most powerful marketing tool</h4>
    <div class="row">
      <div class="large-8 columns">
        <br>
      </div>
        <div class="large-8 columns text-center margin4t">
          <%= link_to new_user_registration_path do %><div class="maingetstarted butt">GET BEAMBOX</div><% end %>
        </div>
      <div class="large-8 columns">
        <br>
      </div>
    </div>
  </div>
</div>


</body>
</html>

<script>
  $(function() {

      $('.row1').matchHeight();
      $('.navheight').matchHeight()

  });

  var block1 = $('#block1').waypoint({
    handler: function(direction) {
      $(".profilepreviewbg").css({ 
        backgroundPosition: "142% 150%"
      });
    },
    offset: '40%'
  });

  var block2 = $('#block2').waypoint({
    handler: function(direction) {
      $(".clock").css({ 
        top: "10%",
        border: "10px solid #77B63F"
      });
      $(".eb3-grab").css({ 
        top: "-20%",
        opacity: "1"
      });
    },
    offset: '40%'
  });

  var block3 = $('#block3').waypoint({
    handler: function(direction) {
      $(".writer").typed({
        strings: ["Christmas Dinner next week", "50% off tomorrow!", "Local band playing this weekend"],
        typeSpeed: 70,
        startDelay: 2500
      });
    },
    offset: '85%'
  });

  $(function() {
    $('.tipso').tipso();
    jQuery('#tool-1').tipso({
      position: 'right',
      speed           : 200,
      background      : 'rgb(250, 250, 250)',
      color           : '#181818',
      width           : "20rem",
      offsetX         : 10,
      tooltipHover    : false,
      content         : null,
      ajaxContentUrl  : null,
      useTitle        : false,
      onBeforeShow    : null,
      onShow          : null,
      onHide          : null
    });
  });

  var block4 = $('#block4').waypoint({
    handler: function(direction) {
      $('.customise-vid').get(0).play()
    },
    offset: '20%'
  });

</script>
