<div class="missioncontrolbg">
  <div class="missioncontrolgradient">
	<div class="row padding27t21b-vh">
		<div class="large-24 columns text-center">
			<h1 class="margin0b margin0t white font4">Mission Control</h1>
			<h2 class="margin0b margin0t white font2">The eyes and ears of your hotspot</h2>
		</div>
	</div>
</div>
</div>

<div class="row text-center">
	<div class="line-container">
		<div class="line-fill"></div>
		<div class="line-circle1"></div>
		<div class="line-circle2"></div>
		<div class="line-circle3"></div>
		<div class="line-circle4"></div>
		<div class="line-circle5"></div>
	</div>
</div>

<div class="row padding5v-vh">
	<div class="large-8 columns content text-center process-one">
		<h3 class="font13">Your customer connects</h3>
		<p>Upon opening their device, your customer is redirected to your branded login page.</p>
	</div>
	<div class="large-8 columns content text-center process-two">
		<h3 class="font13">They login</h3>
		<p>They login with Facebook, Twitter or LinkedIn and BeamWIFI grabs their social profile.</p>
	</div>
	<div class="large-8 columns content text-center process-three">
		<h3 class="font13">They are online</h3>
		<p>They have internet access and are redirected to your branded welcome page.</p>
	</div>
</div>

<div class="personalitiesbg" id="block6">
	<div class="personalitiesoverlay">
		<div class="row padding23v-vh">

		<div class="prof-all">
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/7.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Benjamin White</span>
		    </div>
		    <div class="prof-2">
		    	<span>ben.white1992@hotmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/women/5.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Bonnie Taylor</span>
		    </div>
		    <div class="prof-2">
		    	<span>b12tay@gmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>5 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/47.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Ricky Short</span>
		    </div>
		    <div class="prof-2">
		    	<span>ferrari1985@yahoo.co.uk</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/7.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Benjamin White</span>
		    </div>
		    <div class="prof-2">
		    	<span>ben.white1992@hotmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
		</div>


		  <div class="large-12 columns">
		    <h2 class="font2 weight600 white">Profiles for personalities</h2>
		    <p class="maintext margin1t offwhite">The most important perk of small business is the ability to add a personal touch and really connect with a customer. It creates rapport, makes the customer feel special and sets your business apart from the rest.</p>
		    <p class="maintext offwhite">Use BeamWIFI to automatically generate profiles from customer social pages, giving you an unbeatable insight into your customers and creating that personal touch.</p>
		  </div>
		  <div class="large-12 columns">
		  </div>
		</div>
	</div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="bottom-cta">
  <div class="row padding15v-vh">
    <div class="large-24 columns text-center">
      <div class="row">
        <div class="large-14 columns content">
          <div class="pricing-container">
            <p class="recommended-text">RECOMMENDED</p>
            <h4 class="pricing-header pricing-header-main">£37.50/Month</h4>
            <ul class="text-left pricing-ul">
              <li class="weight600">Unlimited profiles
              <li class="weight600">30,000 emails every month
              <li class="weight600"><span class="tipso_style" id="tool-1" data-tipso="If you're not blown away by BeamWiFi within 90 days, just drop us a line and we'll give you your money back.">90 days money back guarantee <%= image_tag('info-icon.png', class: "infoicon") %></span>
              </li>
              <li>Supports one location</li>
              <li>No setup cost</li>
              <li>Designed for small business</li>
            </ul>
          </div>
        </div>
        <div class="large-10 columns content">
          <div class="pricing-container">
            <p class="recommended-text">SCALABLE</p>
            <h4 class="pricing-header">Pay as you Grow</h4>
            <ul class="text-left pricing-ul">
              <li class="weight600">£0.03 per profile</li>
              <li class="weight600">£2 per 1000 emails</li>
              <li>Scalable to any volume</li>
              <li>Supports multiple locations</li>
              <li>£70 setup cost</li>
              <li>Requires application</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <br>
      </div>
        <div class="large-8 columns text-center margin4t">
          <%= link_to new_user_registration_path do %><div class="maingetstarted butt">GET STARTED</div><% end %>
        </div>
      <div class="large-8 columns">
        <br>
      </div>
    </div>
  </div>
</div>

<script>
  var block6 = $('#block6').waypoint({
    handler: function(direction) {
    	$(".prof-all").toggleClass("prof-all-anim");
	    this.destroy();
    },
    offset: '40%',
  })
</script>