<div class="missioncontrolbg">
  <div class="missioncontrolgradient">
	<div class="row padding27t21b-vh">
		<div class="large-24 columns text-center">
			<h1 class="margin0b margin0t white font4">Mission Control</h1>
			<h2 class="margin0b margin0t white font2 weight100">The eyes and ears of your hotspot</h2>
		</div>
	</div>
</div>
</div>

<div class="row text-center">
	<div class="line-container">
		<div class="line-fill"></div>
		<div class="line-circle1"></div>
		<div class="line-circle2"></div>
		<div class="line-circle3"></div>
		<div class="line-circle4"></div>
		<div class="line-circle5"></div>
	</div>
</div>

<div class="row padding5v-vh">
	<div class="large-8 columns content text-center process-one">
		<h3 class="font13 weight600 offpurple">Your customer connects</h3>
		<p>Upon opening their device, your customer is redirected to your branded login page.</p>
	</div>
	<div class="large-8 columns content text-center process-two">
		<h3 class="font13 weight600 offpurple">They login</h3>
		<p>They login with Facebook, Twitter or LinkedIn and BeamWIFI grabs their social profile.</p>
	</div>
	<div class="large-8 columns content text-center process-three">
		<h3 class="font13 weight600 offpurple">They are online</h3>
		<p>They have internet access and are redirected to your branded welcome page.</p>
	</div>
</div>

<div class="personalitiesbg" id="block6">
	<div class="personalitiesoverlay">
		<div class="row padding23v-vh">

		<div class="prof-all">
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/7.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Benjamin White</span>
		    </div>
		    <div class="prof-2">
		    	<span>ben.white1992@hotmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/women/5.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Bonnie Taylor</span>
		    </div>
		    <div class="prof-2">
		    	<span>b12tay@gmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>5 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/47.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Ricky Short</span>
		    </div>
		    <div class="prof-2">
		    	<span>ferrari1985@yahoo.co.uk</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
			<div class="prof-container">
				<div class="prof-img">
					<img src="https://randomuser.me/api/portraits/med/men/7.jpg">
				</div>
				<div class="prof-1">
		    	<span class="name">Benjamin White</span>
		    </div>
		    <div class="prof-2">
		    	<span>ben.white1992@hotmail.com</span>
		    </div>
		    <div class="prof-3">
		    	<span>32 Visits</span>
		    </div>
		    <div class="prof-4">
		    	<%= image_tag("profilelink.png", class: "profilelink") %>
		    </div>
			</div>
		</div>


		  <div class="large-12 columns">
		    <h2 class="font2 weight600 white">Profiles for personalities</h2>
		    <p class="maintext margin1t offwhite">The most important perk of small business is the ability to add a personal touch and really connect with a customer. It creates rapport, makes the customer feel special and sets your business apart from the rest.</p>
		    <p class="maintext offwhite">Use your Beambox to automatically generate profiles from customers social pages, giving you an unbeatable insight into your customers and creating that personal touch.</p>
		  </div>
		  <div class="large-12 columns">
		  </div>
		</div>
	</div>
</div>

<div class="how-1-bg">
	<div class="how-ol-w-r">
		<div class="row padding20v-vh">
			<div class="large-12 columns"><br>
			</div>
		  <div class="large-12 columns">
		    <h2 class="font2 weight600">Know your customers</h2>
		    <p class="maintext margin1t">Beambox analyses the social profiles your customer logs in with and reports back with insightful personal data. Learn more about the people who visit your business with data such as age, location and gender.</p>
		  </div>
		</div>
	</div>
</div>

<div class="how-2-bg">
	<div class="how-ol-g-l">
		<div class="row padding20v-vh">
		  <div class="large-12 columns">
		    <h2 class="font2 weight600">Stay in sync with your hotspot</h2>
		    <p class="maintext margin1t">Your Beambox will talk to Mission Control in realtime, meaning you can login and see who your most recent hotspot users are. It makes it easy to follow up on customers visits and learn more about them.</p>
		  </div>
			<div class="large-12 columns"><br>
			</div>
		</div>
	</div>
</div>

<div class="overflow">
	<div class="row padding20t5b-vh">
		<div class="large-6 columns"><br>
		</div>
	  <div class="large-12 columns text-center">
	    <h2 class="font2 weight600">Big data, small business</h2>
	    <p class="maintext margin1t">Overtime your Beambox will collect massive volumes of data to be used at your disposal. Data is power, power that will fuel your most powerful marketing campaigns.</p>
	  </div>
		<div class="large-6 columns"><br>
		</div>
		<%= image_tag("bigdatabg.png", class: "bigdatabg") %>
	</div>
</div>

<div class="how-3-bg">
	<div class="how-ol-g-r">
		<div class="row padding20v-vh">
			<div class="large-12 columns"><br>
			</div>
		  <div class="large-12 columns">
		    <h2 class="font2 weight600">Reach thousands instantly</h2>
		    <p class="maintext margin1t">Promote your business to anyone who's every used your hotspot before. Email blasts will act as your most powerful marketing tool, use them to promote events, offers or nothing in particular.</p>
		  </div>
		</div>
	</div>
</div>

<div class="how-4-bg">
	<div class="how-ol-w-l">
		<div class="row padding20v-vh">
		  <div class="large-12 columns">
		    <h2 class="font2 weight600">Control email schedules</h2>
		    <p class="maintext margin1t">Create and manage email schedules to increase repeat business. Set triggers to automatically send out personalised emails if a customer hasn't visited you in a while or if it's their first time visiting.</p>
		  </div>
			<div class="large-12 columns"><br>
			</div>
		</div>
	</div>
</div>

<div class="greybgborder">
	<div class="row padding20v-vh">
		<div class="large-6 columns"><br>
		</div>
	  <div class="large-12 columns text-center">
	    <h2 class="font2 weight600">Monthly reports on your hotspot</h2>
	    <p class="maintext margin1t">We'll keep you in the loop with monthly emails letting you know how your hotspot is doing, so that you can focus on your business.</p>
	  </div>
		<div class="large-6 columns"><br>
		</div>
	</div>
</div>

<div class="bottom-cta">
  <div class="row padding20v-vh text-center">
    <h3 class="white font28 margin0b">WiFi is no longer an expense</h3>
    <h4 class="offwhite font15 margin0t">It's your most powerful marketing tool</h4>
    <div class="row">
      <div class="large-8 columns">
        <br>
      </div>
        <div class="large-8 columns text-center margin4t">
          <%= link_to new_user_registration_path do %><div class="maingetstarted butt">GET BEAMBOX</div><% end %>
        </div>
      <div class="large-8 columns">
        <br>
      </div>
    </div>
  </div>
</div>


<script>
  var block6 = $('#block6').waypoint({
    handler: function(direction) {
    	$(".prof-all").toggleClass("prof-all-anim");
	    this.destroy();
    },
    offset: '80%',
  })
</script>