<div class="row ">
	<div class="large-18 columns maincontainer">
		<div class="row main">
			<div class="row profiletopbg">
				<div class="large-4 columns">
					<% case @human.provider %>
						<% when "facebook" %>
							<img src="https://graph.facebook.com/<%= @human.uid %>/picture?width=300&height=300">
						<% when "twitter" %>
							<img src="<%= @human.picture.gsub(/_normal/,'') %>">
					<% end %>
				</div>
				<div class="large-11 columns padding2v content3">
					<h3 class="weight600"><%= @human.fullname %></h3>
					<p>Last visited <span class="weight600"><%= time_ago_in_words(@lastvisit.created_at) %> ago</span></p>
				</div>
				<div class="large-9 columns">
				</div>
			</div>
			<div class="row padding1v">
				<div class="large-14 columns content">
					<div class="profilegraph"></div>
				</div>
				<div class="large-10 columns content">
					<h4 class="title">Last 5 visits</h4>
					<% @lastvisits.each do |human| %>
						<p class="margin0b last5text"><%= human.created_at.strftime("%A the %e %B, %Y") %> <span class="weight400">at</span> <%= human.created_at.strftime("%I:%M %p") %></p>
					<% end %>
				</div>
			</div>
			<br><br><br><br><br><br><br><br>
		</div>
		<div class="row">
			<div class="large-24 columns">
				<h4 class="title">More visitors</h4>
			</div>
		</div>
	</div>
  <div class="large-6 columns rightbar content">
    <div class="navheight"></div>
      <h4 class="sidetitle">Latest visitors</h4>
      <% @latest.each do |human| %>
	      <div class="row padding04v lastvisitorscontainer">
	      	<%= link_to humans_path(human) do %>
		        <div class="large-4 columns">
							<% case human.provider %>
								<% when "facebook" %>
									<img class="imgcircle" src="https://graph.facebook.com/<%= human.uid %>/picture?width=50&height=50">
								<% when "twitter" %>
									<img class="imgcircle" src="<%= human.picture %>">
							<% end %>
		        </div>
		        <div class="large-20 columns">
		          <p class="latestvisitorstext"><span class="weight600"><%= human.fullname %></span>  <span class="weight400 latestvisitorstime">
		          	<% if human.human_logins == 0 %>
		          	  <%= time_ago_in_words(human.created_at) %>
	          	  <% else %>
			          	<%= time_ago_in_words(human.human_logins.last.created_at) %>
			          	 ago</span></p>
	          	  <% end %>
		        </div>
	        <% end %>
	      </div>
      <% end %>
    </div>
	</div>
</div>


<script>
	$('.row1').matchHeight();
</script>