<div class="row ">
	<div class="large-18 columns maincontainer containers">
		<div class="row main">
			<div class="row profiletopbg">
				<div class="large-4 columns">
					<% case @human.provider %>
						<% when "facebook" %>
							<img class="width100" src="https://graph.facebook.com/<%= @human.uid %>/picture?width=300&height=300">
						<% when "twitter" %>
							<img class="width100" src="<%= @human.picture.gsub(/_normal/,'') %>">
						<% when "linkedin" %>
							<img class="width100" src="<%= @human.picture %>">
					<% end %>
				</div>
				<div class="large-12 columns padding2v content3">
					<h3 class="weight600"><%= @human.fullname %></h3>
					<p class="blue09">Last visited <span class="weight600"><%= time_ago_in_words(@lastvisit.created_at) %> ago</span></p>
				</div>
				<div class="large-3 columns text-center padding2v">
					<h4 class="profilestat"><%= @visits %></h4>
					<p class="profilecontext">Visits</p>
				</div>
				<div class="large-3 columns text-center padding2v">
					<h4 class="profilestat">#<%= @rank %></h4>
					<p class="profilecontext">Rank</p>
				</div>
				<div class="large-2 columns">
					<br>
				</div>
			</div>
			<div class="row padding1v">
				<div class="large-14 columns content row1 padding05t">

					<div id="visitsgraph" class="row1"></div>


				</div>
				<div class="large-10 columns content row1">
					<h4 class="title">Last 5 visits</h4>
					<% @lastvisits.each do |human| %>
						<p class="margin0b last5text"><%= human.created_at.strftime("%A the %e %B, %Y") %> <span class="weight400">at</span> <%= human.created_at.strftime("%I:%M %p") %></p>
					<% end %>
				</div>
			</div>
			<div class="row padding1v">
				<div class="large-12 columns row2">
					<br>
				</div>
				<div class="large-12 columns content row2">
					<h4 class="title">About <%= @human.fullname %></h4>
					<ul class="disc">
						<li class="last5text">First visited <%= time_ago_in_words(@human.created_at) %> ago</li>
						<% if @human.gender %>
							<li class="last5text">Gender is male</li>
						<% end %>
						<% if @human.location %>
							<li class="last5text">Current location is <%= @human.location %></li>
						<% end %>
						<% if @human.agerange %>
						<li class="last5text">Approximate age is <%= @human.agerange %></li>
						<% end %>
						<li class="last5text">Logged in with <%= @human.provider %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-24 columns">
				<h4 class="title">More visitors</h4>
			</div>
		</div>
	</div>
  <div class="large-6 columns rightbar containers">
	  	<a href="#">
	  		<div class="videobg">
		  		<div class="videoblock text-center">
		  			<%= image_tag('playicon.png', class: "padding15v playicon") %>
		  		</div>
		  	</div>
		  </a>
		  <div class="content" id="sidebar">
      <h4 class="sidetitle">Latest visitors</h4>
	      <% @latest.each do |human| %>
		      <div class="row padding04v lastvisitorscontainer">
		      	<%= link_to humans_path(human) do %>
			        <div class="large-4 columns">
								<% case human.provider %>
									<% when "facebook" %>
										<img class="imgcircle" src="https://graph.facebook.com/<%= human.uid %>/picture?width=50&height=50">
									<% when "twitter", "linkedin" %>
										<img class="imgcircle" src="<%= human.picture %>">
								<% end %>
			        </div>
			        <div class="large-20 columns">
			          <p class="latestvisitorstext"><span class="weight600"><%= human.fullname %></span>  <span class="weight400 latestvisitorstime"><%= time_ago_in_words(human.human_logins.last.created_at) %> ago</span></p>
			        </div>
		        <% end %>
		      </div>
	      <% end %>
	    </div>
    </div>
	</div>
</div>


<script>
	$('.row1').matchHeight();
	$('.row2').matchHeight();
	$('.containers').matchHeight();
</script>

<script>
new Morris.Line({

  element: 'visitsgraph',

	 data: [
	    { month: '<%= 5.months.ago.strftime("%B") %>', value: <%= @fivemonths %> },
	    { month: '<%= 4.months.ago.strftime("%B") %>', value: <%= @fourmonths %> },
	    { month: '<%= 3.months.ago.strftime("%B") %>', value: <%= @threemonths %>  },
	    { month: '<%= 2.months.ago.strftime("%B") %>', value: <%= @twomonths %> },
	    { month: '<%= 1.months.ago.strftime("%B") %>', value: <%= @onemonths %> },
	    { month: '<%= Time.now.strftime("%B") %>', value: <%= @zeromonths %> }
	  ],

  xkey: 'month',
  xlabels: 'month',
  parseTime: false,
  hideHover: 'auto',
  lineColors: ['#E06B3C'],
  lineWidth: '4px',
  pointStrokeColors: ['#E05A3C'],
  ykeys: ['value'],

  labels: ['Visits']
});
</script>