<!DOCTYPE html>
<html>
<head>
  <title>Free WIFI Access</title>
  <%= stylesheet_link_tag 'template', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
</head>
<body>

<style>

.text-center{
	text-align: center !important;
}

body {
	color: #fff !important;
	background: url('<%= template.backgroundurl_url %>');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

a{
	color: inherit;
}

.mask{
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.67);
}

.margin4t{
	margin-top: 4rem;
}

.padding2t{
	padding-top: 2rem;
}

.padding1v{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.logo {
  height: 10rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



</style>


<div class="mask">
<div class="row">
	<div class="small-12 large-12 columns">
		<%= image_tag(user.logourl_url, class: "padding2t text-center logo") %> 
		<h1 class="text-center"><%= template.title %></h1>
		<div class="text-center padding2t">
		<p class="padding1v">Select a network to connect with</p>
			<%= link_to "Sign in with Facebook", human_omniauth_authorize_path(:facebook, var: user.id) %>
		<br>
		<%= link_to "Sign in with Twitter", human_omniauth_authorize_path(:twitter, var: user.id) %>
		<br>
		<%= link_to "Sign in with LinkedIn", human_omniauth_authorize_path(:linkedin, var: user.id) %>
		</div>
	</div>
</div>
</div>