<!DOCTYPE html>
<html>
<head>
  <title>Wyfi | Social WIFI Marketing for small business</title>
  <%= stylesheet_link_tag    'panels', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'panels', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="row shadowmask">
<div class="row">
	<div class="large-24 columns">
	  <div class="fixed contain-to-grid">
	    <header>
	      <nav class="top-bar navheight" data-topbar role="navigation">
	            <ul class="title-area">
	              <li class="name">
	                <h1><a href="#"><%= image_tag('logo.png') %></a></h1>
	              </li>
	               <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	              <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	            </ul>

	        <section class="top-bar-section">

	          <ul class="left">
	          	<li><%= link_to panels_dashboard_path do %>DASHBOARD<% end %></li>
	            <li class="has-dropdown">
	            	<a href="#">VISITORS</a>
				        <ul class="dropdown">
				        	<li><%= link_to leaderboard_filter_path('visits', 'desc') do %>LEADERBOARDS<% end %></li>
				          <li><a href="#">SEARCH</a></li>
				        </ul>
				      </li>
				      <li class="has-dropdown">
				        <a href="#">EMAIL</a>
				        <ul class="dropdown">
				        	<li><%= link_to panels_emailinbox_path do %>INBOX<% end %></li>
				        	<li><%= link_to panels_emailblast_path do %>EMAIL BLAST<% end %></li>
				          <li><%= link_to panels_emailschedule_path do %>SCHEDULE<% end %></li>
				        </ul>
				      </li>
	            <li class="has-dropdown">
	            	<a href="#">SETUP</a>
				        <ul class="dropdown">
				        	<li><%= link_to panels_loginpage_path do %>LOGIN PAGE<% end %></li>
				          <li><%= link_to panels_welcomepage_path do %>WELCOME PAGE<% end %></li>
				        </ul>
				      </li>
				      <li>
	            	<a href="#">ANALYTICS</a>
				      </li>
	          </ul>
	          <ul class="right">
	          	<li><a href="#">SUPPORT</a></li>
	          	<li class="has-dropdown">
	          		<a href="#">ACCOUNT</a>
	          		<ul class="dropdown">
	          			<li><%= link_to panels_settings_path do %>SETTINGS<% end %></li>
	          			<li><a href="#">PAYMENTS</a></li>
	          			<li class="login"><%= link_to(destroy_user_session_path, :method => :delete) do %>LOGOUT<% end %></li>
	          		</ul>
	          </ul>

	        </section>
	      </nav>

	    </header>
	  </div>
	  <div class="navheight"></div>
	</div>
</div>

<%= yield %>

<div class="row footerbg">
	<br><br><br><br><br><br><br><br><br>
</div>

</div>

<script type="text/javascript">
  $("header").headroom({
    "offset": 1000000,
  });
</script>

<script>
  $(document).foundation();
</script>

</body>
</html>

<script>
		$('.navheight').matchHeight();
		$("#sidebar").stick_in_parent({"offset_top": 70})
</script>
